body {
    font-family: arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 9px;
}

header a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    margin: 0 8px;
}

header a:hover {
    color: black;
}

.btns-flex {
    width: 48%;
    margin: 29px auto;
    display: flex;
    justify-content: space-between;
}

.btns-flex > a {
    background-color: #f8f9fa;
    padding: 11px 17px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
}

.btns-flex > a:hover {
    box-shadow: 0 0 2px 0px #777777;
}

.content {
    position: relative;
    width: 90%;
    max-width: 580px;
    margin: 0 auto;
    top: 100px;
}

.header-flex-group {
    display: flex;
}

.logo {
    display: block;
    width: 47%;
    height: auto;
    margin: 0 auto;
}

.logo-container {
    width: 100%;
}

.search-form {
    position: relative;
    width: 100%;
    border: 1px solid #e7e8eb;
    border-radius: 30px;
    height: 38px;
    padding-top: 5px;
    margin-top: 54px;
}

.search-form:hover {
    border-color: white;
    box-shadow: 0 0 5px #b1b1b1;
}

.search-form input {
    display: block;
    width: 85%;
    margin: 0 auto;
    height: 29px;
    padding: 0;
    font-size: 16px;
    border: none;
}

.search-form input:focus {
    outline: none;
}

.sign-in-btn {
    position: relative;
    bottom: 8px;
    padding: 8px 13px;
    background-color: #4684ee;
    color: white;
    border-radius: 3px;
    font-weight: 600;
}

.sign-in-btn:hover {
    color: white;
    cursor: default;
}

.voice-search-icon {
    position: absolute;
    height: 60%;
    top: 20%;
    right: 16px;
}

.voice-search-icon:hover {
    cursor: pointer;
}