body {
    font-family: arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 9px;
}

header a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    margin: 0 8px;
}

header a:hover {
    color: black;
}

.header-flex-group {
    display: flex;
}

.sign-in-btn {
    position: relative;
    bottom: 8px;
    padding: 8px 13px;
    background-color: #4684ee;
    color: white;
    border-radius: 3px;
    font-weight: 600;
}